<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search handle-input="$ctrl.handleInputInParent"><h5><em>search</em> component goes here</h5></search>
    </div>
    <div>
    <span style="display: block; text-align: center; font-size: 10pt;margin-bottom: 6px">AutoPlay</span>
    <div id="toggle-background" class="toggle">
      <div ng-click="$ctrl.changesAutoplay()" onclick="makeCircleMove()" id="toggle-switch" class="circle">
      </div>
    </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player handle-inputty-put="$ctrl.makeDescriptionCrazy" url="$ctrl.playerUrl" id="$ctrl.videoIdForDetails" title="$ctrl.playerTitle" description="$ctrl.playerDescription"><h5><em>videoPlayer</em> component goes here</h5></video-player>
    </div>
    <div class="col-md-5">
      <video-list videos="$ctrl.videoData" video-clicker="$ctrl.handleClickInParent"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
